# Copy this file to .env and fill in your values
DATABASE_URL="mongodb+srv://samratakbar667466:samratDB667466@myfilesdb.m2hhvqt.mongodb.net/study-tracker?retryWrites=true&w=majority"
JWT_SECRET="5893457wuivn5qaioewr5fawerj8jn9t4hjs49re48n8"
JWT_EXPIRES_IN="7d"
ADMIN_USERNAME="admin05"
ADMIN_PASSWORD="admin@05"
NEXT_PUBLIC_APP_NAME="StudyTracker"
NODE_ENV="development"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
